.body{
    font-family: Arial; 
}
.image{
    background-image: url('https://pbs.twimg.com/media/D6K64zPX4AEiF7c.jpg:large');
    background-size:cover;
    width: 100%;
    height: 350px;
    position: relative;
}
.box{
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
}
.media{
    margin: 70px 100px 0px  ;
    padding: 0px;
}
.media-body{
    margin-left: 35px;
}     
Button{
    margin-left: 350px;
}
.middle-content{
    margin: 20px 95px;
}
hr{
    border: 3px solid #353668;
    bottom: 30px;
}
p.Title{
    font-size: 40px;
    font-weight: bold;
    color: #353668;
    font-family: Arial; 
    line-height: 20px;
    margin-top: 40px;
}
p.Content{
    font-size: 20px;
}
h1.Title{
    font-weight: bold;
    color: #353668;
}
h1,h2,h6.Name{
    font-weight: bold;
    color: white ;
}
.map{
    margin: 10px!important;
}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .map{
        width: 100%;
        color: red;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}